altgraph==0.17.2
annotated-types==0.6.0
anyio==3.7.1
asgiref==3.5.0
attrs==23.1.0
beautifulsoup4==4.10.0
blinker==1.7.0
certifi==2023.7.22
charset-normalizer==2.0.6
click==8.1.7
colorama==0.4.4
commonmark==0.9.1
distro==1.8.0
Django==4.0.3
et-xmlfile==1.1.0
exceptiongroup==1.1.3
Flask==3.0.0
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.2
importlib-metadata==7.0.1
itsdangerous==2.1.2
Jinja2==3.1.2
macholib==1.15.2
MarkupSafe==2.1.3
modulegraph==0.19.2
mutagen==1.45.1
numpy==1.21.4
openai==1.3.5
openpyxl==3.0.9
outcome==1.3.0.post0
packaging==23.2
pandas==1.3.5
py2app==0.26.1
pycryptodome==3.10.4
pydantic==2.5.2
pydantic_core==2.14.5
Pygments==2.10.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytube==11.0.1
pytz==2021.3
rapidfuzz==1.7.1
requests==2.26.0
rich==10.11.0
selenium==4.15.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.2.1
spotdl @ https://codeload.github.com/spotDL/spotify-downloader/zip/dev
spotipy==2.19.0
sqlparse==0.4.2
tqdm==4.62.3
trio==0.23.1
trio-websocket==0.11.1
typing_extensions==4.8.0
Unidecode==1.3.2
urllib3==1.26.7
webdriver-manager==4.0.1
websockets==10.0
Werkzeug==3.0.1
wsproto==1.2.0
XlsxWriter==3.1.9
yt-dlp==2021.9.25
ytmusicapi==0.19.3
zipp==3.17.0
